html, body {
    height: 100%;
    margin: 0;
}

#header {
    width: 100%;
    height: 15vh;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_icon {
    height: 100%;
}

#header_icon_image {
    height: 100%;
    width: 100%;
}

#header_icon_image:hover {
    cursor: pointer;
}

#header_options {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#header_options_arboles, #header_options_parques {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_options_arboles_link, #header_options_parques_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    width: 80%;
    height: 80%;
}

#header_options_arboles_link:hover, #header_options_parques_link:hover {
    background-color: #e0e0e0;
    color: #007BFF;
}

#header_login {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header_login:hover {
    background-color: #e0e0e0;
    color: #007BFF;
    cursor: pointer;
}

#index_container {
    display: flex;
    height: calc(100% - 15vh);
}

#sidebar {
    width: 10vw;
    height: 100%;
    background-color: #f0f0f0;
}

#sidebar_mostVisited{
    padding-top: 20px;
}

#sidebar_mostVisited_title{
    padding-bottom: 20px;
    font-size: 1.17em;
}

.sidebar_mostVisited_link{
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 15px;
    padding-left: 5px;
}

.sidebar_mostVisited_link:hover{
    color: #007BFF;
}

#index_main {
    display: flex;
    flex-direction: column; /* Organiza bloques principales en columna */
    height: 100%; /* Ocupa toda la altura */
    width: 100vw; /* Ocupa todo el ancho */
    background-color: #ffffff;
}

#index_main_arboles, #index_main_parques {
    width: 48%; /* Ocupa casi la mitad del ancho */
    height: 100%; /* Ocupa todo el alto del contenedor superior */
    margin: 10px; /* Espaciado entre los elementos */
    border: 2px solid;
    border-radius: 10px; /* Bordes redondeados */
    background-color: lightgray; /* Fondo visible */
    overflow: hidden; /* Respeta los bordes redondeados */
    display: flex;
    justify-content: center; /* Centra horizontalmente el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    text-align: center; /* Centra el texto */
}

#index_main_bibliografia {
    width: 100%; /* Ocupa todo el ancho */
    height: 20%; /* Ajusta la altura de la sección inferior */
    min-height: 20px; /* Asegura visibilidad mínima */
    background-color: chocolate; /* Fondo distintivo */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Estilos para los textos */
#index_main_arboles h2, #index_main_parques h2 {
    color: burlywood;
    font-size: 2em;
}

.index_main_arboles, .index_main_parques {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
}

.index_main_arboles:hover, .index_main_parques:hover {
    cursor: pointer;
    color: #007BFF;
}
/* Medidas responsivas */
@media (max-width: 768px) {
    #header {
        height: 10vh;
    }
    #sidebar {
        width: 25vw;
    }
}

@media (max-width: 480px) {
    #header {
        height: 8vh;
    }
    #sidebar {
        width: 30vw;
    }
}
