html, body {
    height: max-content;
    min-height: 100%;
    margin: 0;
}

body{
    height: 100%;
    min-height: 100vh;
}

#header {
    width: 100%;
    height: 15vh;
    background-color: #D3F1DF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header_icon {
    height: 100%;
}

#header_icon_image {
    height: 100%;
    width: 100%;
}

#header_icon_image:hover {
    cursor: pointer;
}

#header_options {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

#header_options_arboles, #header_options_parques {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header_options_arboles_link, #header_options_parques_link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #5A6C57;
    width: 80%;
    height: 80%;
    border-radius: 10px;
}

#header_options_arboles_link:hover, #header_options_parques_link:hover {
    background-color: #85A98F;
    color: #525B44; 
}

#header_login {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5A6C57;
}

#header_login:hover {
    background-color: #85A98F;
    color: #525B44;
    cursor: pointer;
}

#index_container {
    display: flex;
    height: 100%;
}

#sidebar {
    width: 10vw;
    height: 100vh;
    background-color: #697565;
    display: flexbox;
}

#sidebar_mostVisited{
    width: 90%;
    padding-top: 20px;
    margin-top: 20px;
    background-color: #ECDFCC;
    border-radius: 10px;
    margin-left: 4px;
}

#sidebar_mostVisited_title{
    padding-bottom: 20px;
    font-size: 1.17em;
}

.sidebar_mostVisited_link{
    text-decoration: none;
    color: inherit;
    display: block;
    margin-bottom: 15px;
    padding-left: 5px;
}

.sidebar_mostVisited_link:hover{
    color: #007BFF;
}

#index_main {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 15vh);
    width: 100%;
    background-color: #F6FCDF;
}

#index_main_top {
    display: flex;
    justify-content: space-between;
    height: 30%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

#index_main_arboles, #index_main_parques {
    width: 48%;
    height: 100%;
    border: 2px solid;
    border-radius: 10px; 
    background-color: #859F3D; 
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
    display: flexbox;
}

#index_main_bibliografia {
    width: 90%;
    height: 70%;
    background-color: #F6FCDF;
    padding-left: 10%;
    padding-top: 5%;
}

#index_main_arboles h2, #index_main_parques h2 {
    align-self: start;
    color: #31511E;
    font-size: 2em;
}

.index_main_arboles, .index_main_parques {
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    padding-bottom: 10px;
    line-height: 2;
}

.index_main_arboles:hover, .index_main_parques:hover {
    cursor: pointer;
    color: #1A1A19;
}

#arboles_main{
    background-color: #F6FCDF;
    height: 100%;
    min-height: 100vh;
    padding-top: 10px;
    padding-left: 15px;
}

#arboles_main_form{
    height: 10vh;
    margin-bottom: 20px;
}

#arboles_main_filter_form{
    height: 10vh;
    width:100%;
    margin-bottom: 20px;
    display: flex;
    font-size: 1.4em;
}

#arboles_main_form_select{
    height: 100%;
    width: 30%;
    border-radius: 30px;
    background-color: #FEFAE0;
}

#arboles_main_filter_form select{
    height: 100%;
    width: 30%;
    border-radius: 30px;
    background-color: #FEFAE0;
}

#arboles_main_form_select:hover{
    background-color: #EAECCC;
}

#arboles_main_filter_form select:hover{
    background-color: #EAECCC;
}

#arboles_main_form_select:focus{
    background-color: #EAECCC;
}

#arboles_main_filter_form select:focus{
    background-color: #EAECCC;
}

#arboles_main_form input{
    height: 100%;
    width: 10%;
    background-color: #A5B68D;
    border-radius: 20px;
    border-color: #798645;
}

#arboles_main_filter_form input{
    height: 100%;
    width: 10%;
    background-color: #A5B68D;
    border-radius: 20px;
    border-color: #798645;
    position: relative;
}

#arboles_main_filter_form input[type="radio"]{
    height: 40%;
    width: 8%;
}

#arboles_main_form input:hover{
    background-color: #CBD2A4;
}

#arboles_main_filter_form input:hover{
    background-color: #CBD2A4;
}

.arboles_main_enlaces_link{
    text-decoration: none;
    font-size: 1.4em;
    margin-top: 10px;
    color: #CC9544;
}

.arboles_main_enlaces_link:hover{
    color: #874C62;
}

#parques_main {
    background-color: #F6FCDF;
    height: 100%;
    min-height: 100vh;
    padding-top: 10px;
    padding-left: 15px;
}

#parques_main_form {
    height: 10vh;
    margin-bottom: 20px;
}

#parques_main_filter_form {
    height: 10vh;
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    font-size: 1.4em;
}

#parques_main_form_select {
    height: 100%;
    width: 30%;
    border-radius: 30px;
    background-color: #FEFAE0;
}

#parques_main_filter_form select {
    height: 100%;
    width: 30%;
    border-radius: 30px;
    background-color: #FEFAE0;
}

#parques_main_form_select:hover {
    background-color: #EAECCC;
}

#parques_main_filter_form select:hover {
    background-color: #EAECCC;
}

#parques_main_form_select:focus {
    background-color: #EAECCC;
}

#parques_main_filter_form select:focus {
    background-color: #EAECCC;
}

#parques_main_form input {
    height: 100%;
    width: 10%;
    background-color: #A5B68D;
    border-radius: 20px;
    border-color: #798645;
}

#parques_main_filter_form input {
    height: 100%;
    width: 10%;
    background-color: #A5B68D;
    border-radius: 20px;
    border-color: #798645;
    position: relative;
}

#parques_main_filter_form input[type="radio"] {
    height: 40%;
    width: 8%;
}

#parques_main_filter_form input[type="checkbox"] {
    height: 40%;
    width: 8%;
}

#parques_main_form input:hover {
    background-color: #CBD2A4;
}

#parques_main_filter_form input:hover {
    background-color: #CBD2A4;
}

.parques_main_enlaces_link {
    text-decoration: none;
    font-size: 1.4em;
    margin-top: 10px;
    color: #CC9544;
}

.parques_main_enlaces_link:hover {
    color: #874C62;
}

#article_main{
    background-color: #F6FCDF;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
}

.languageSwitcher{
    display: flex;
    width: 100vw;
    height: 10%;
    position: absolute;
}


#article_main_content {
    flex: 3; 
    min-width: 70%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    border-radius: 5px;
}


#article_main_sidebar{
    flex: 1; 
    min-width: 20%;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    height: max-content;
}

#article_main_sidebar_image{
    width: 100%;
    background-color: #ddd;
    justify-self: center;
    aspect-ratio: 1 / 1;
}

#article_main_sidebar_image img{
    width: 18%;
    height: 12.5%;
    align-self: center;
    justify-self: center;
    position: absolute;
}

#article_main_sidebar_content{
    background-color: #F2EDE5;
    border-radius: 20px;
}

#article_main_sidebar_content h4{
    color:#B59F78;
    padding-top: 10px;
}

.article_main_sidebar_content_link{
    text-decoration: none;
    color: #C0C78C;
    line-height: 2em;
}

.article_main_sidebar_content_link:hover{
    color: #A6B37D;
}

.article_main_sidebar_content_title{
    font-size: 1.4em;
}

.article_main_sidebar_content_text{
    
}

/* Medidas responsivas */
@media (max-width: 768px) {
    #header {
        height: 10vh;
    }
    #sidebar {
        width: 25vw;
    }
}

@media (max-width: 480px) {
    #header {
        height: 8vh;
    }
    #sidebar {
        width: 30vw;
    }
}
